%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{port_specs, [{"priv/utpdrv.so", ["c_src/*.cc"]}]}.

{port_env, [
            {"DRV_CFLAGS",  "$DRV_CFLAGS -Werror -I c_src"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/libutp/libutp.a"}
           ]}.

{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.

